.skills {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.skills > .wrapper {
    position: absolute;
}

.skills > .wrapper > video {
    width: 100vw;
    size: cover;
}

.skills > .txw {
    position: absolute;
    top: 16vh;
    width: 100vw;
}

.skills > .txw > .sk-title {
    position: relative;
    text-align: center;
    font-size: 5.4vh;
    color: white;
    text-shadow: 0.8vh 0.8vh 1.7vh yellow, -0.8vh -0.8vh -1.7vh yellow;
    z-index: 10;
    animation: fade;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% { text-shadow: 0.8vh 0.8vh 1.7vh rgb(26, 255, 0), -0.8vh -0.8vh -1.7vh yellow; }
    20% { text-shadow: 0.8vh 0.8vh 3.7vh yellow, -0.8vh -0.8vh -3.7vh rgb(26, 255, 0); }
    40% { text-shadow: 0.8vh 0.8vh 1.7vh rgb(0, 255, 204), -0.8vh -0.8vh -1.7vh rgb(255, 0, 251); }
    60% { text-shadow: 0.8vh 0.8vh 3.7vh rgb(255, 0, 251), -0.8vh -0.8vh -3.7vh rgb(0, 255, 204); }
    80% { text-shadow: 0.8vh 0.8vh 1.7vh rgb(204, 0, 255), -0.8vh -0.8vh -1.7vh rgb(35, 64, 85); }
    100% { text-shadow: 0.8vh 0.8vh 3.7vh rgb(95, 114, 255), -0.8vh -0.8vh -3.7vh rgb(234, 255, 100); }
}

.carousel {
    top: 32vh;
    background: rgba(70, 70, 70, 0.1);
}

.item > h1 {
    font-size: 4.8vh;
    text-align: center;
    color: white;
    text-shadow: 0.8vh 0.8vh 1.7vh yellow, -0.8vh -0.8vh 1.7vh yellow;
}

.item > .skill {
    margin: 4.3vh 18vh;
}

.item > .skill > h2 {
    font-size: 3.6vh;
    color: white;
    text-shadow: 0.8vh 0.8vh 1.7vh rgb(63, 29, 255), -0.8vh -0.8vh 1.7vh rgb(160, 7, 255);
}

.del0 {
    animation: fade 5s 0s;
    animation-iteration-count: infinite;
}

.del1 {
    animation: fade 5s 1s;
    animation-iteration-count: infinite;
}

.del2 {
    animation: fade 5s 2s;
    animation-iteration-count: infinite;
}

.del3 {
    animation: fade 5s 3s;
    animation-iteration-count: infinite;
}

.carousel-control-prev-icon {
    width: 5vh !important;
    height: 5vh !important;
    box-shadow: 1.4vh 1.4vh 1.9vh 0.8vh rgba(255, 35, 251, 1), -1.4vh -1.4vh 1.9vh 0.8vh rgba(255, 35, 251, 1);
}

.carousel-control-next-icon {
    width: 5vh !important;
    height: 5vh !important;
    box-shadow: 1.4vh 1.4vh 1.9vh 0.8vh rgba(255, 35, 251, 1), -1.4vh -1.4vh 1.9vh 0.8vh rgba(255, 35, 251, 1);
}

.carousel-indicators {
    justify-content: space-between !important;
    width: 37vh !important;
    align-self: center;
    left: 16vh !important;
}

.carousel-indicators > button {
    height: 4vh !important;
    width: 4vh !important;
    box-shadow: 0.6vh 0.6vh 1.2vh 1.2vh rgb(0, 255, 221), -0.6vh -0.6vh 1.2vh 1.2vh rgb(0, 255, 204);
}