.intro {
    height: 105vh;
    position: relative;
}

#f {
    width: 1vh;
    position: absolute;
    left: 6.4vh;
    top: 17.2vh;
}

#s {
    width: 2.6vh;
    position: absolute;
    left: 16.4vh;
    top: 11.1vh;
}

#t {
    width: 2.4vh;
    position: absolute;
    left: 63.4vh;
    top: 14.8vh;
}

#fr {
    width: 1.9vh;
    position: absolute;
    left: 84vh;
    top: 19vh;
}

#fv {
    width: 1.4vh;
    position: absolute;
    right: 14.4vh;
    top: 17.9vh;
}

#str1 {
    width: 2.4vh;
    position: absolute;
    left: 54.4vh;
    top: 17.9vh;
    z-index: 2;
    animation-duration: 4s;
}

#str2 {
    width: 2.8vh;
    position: absolute;
    right: 34.4vh;
    top: 14.9vh;
    z-index: 3;
    animation-duration: 6s;
}

#str3 {
    width: 2.7vh;
    position: absolute;
    right: 18vh;
    top: 67.9vh;
    z-index: 3;
    animation-duration: 5.5s;
}

#str4 {
    width: 3.6vh;
    position: absolute;
    left: 16.5vh;
    top: 77vh;
    z-index: 3;
    animation-duration: 9s;
}

#str5 {
    width: 2vh;
    position: absolute;
    right: 54.4vh;
    top: 27.9vh;
    z-index: 2;
    animation-duration: 4s;
}

.intro > .background > .str {
    animation: shining;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes lightens {
    100% {
        transform: scale(3);
        box-shadow: 15px 13px 117px 15px rgba(255,255,47,1), 0px 0px 100px 0px rgb(58, 58, 0) inset;
    }
}

.intro > .background > .star {
    animation: lightens;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shining {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    50% {
        transform: scale(3);
        filter: brightness(140%);
    }
    100% {
        transform: scale(1);
        filter: brightness(100%);
    }
}

.intro > .background > .bhole {
    width: 24vh;
    position: absolute;
    left: 21vh;
    top: 16vh;
    filter: brightness(200%);
    animation: circling;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
}

.intro > .background > .galaxy {
    width: 86.5vh;
    position: absolute;
    right: 10vh;
    top: 20vh;
    transform: rotate(12deg);
    animation: rotating;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.intro > .background > .earth {
    width: 26vh;
    position: absolute;
    left: 132vh;
    top: 38vh;
}

.intro > .background > .sun {
    width: 8vh;
    position: absolute;
    right: 23vh;
    top: 29vh;
    animation: circling;
    animation-duration: 21s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circling {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.intro > .background > .space-ship {
    width: 28vh;
    position: absolute;
    left: 97vh;
    top: 28vh;
    transform: rotate(-60deg);
}

.floating {
    animation: floating;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        left: 97vh;
        top: 28vh;
    }
    25% {
        left: 98.4vh;
        top: 25.5vh;
    }
    50% {
        left: 96.1vh;
        top: 24.7vh;
    }
    75% {
        left: 97.8vh;
        top: 27.1vh;
    }
    100% {
        left: 97vh;
        top: 28vh;
    }

}

.intro > .background {
    height: 105vh;
    background: url('./intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro > .title {
    position: absolute;
    top: 47vh;
    left: 25vh;
    height: 44vh;
    width: 44vh;
    background-color: transparent;
}

.title-text > h1 {
    font-size: 6vh;
    color: white;
    text-shadow: 0.7vh 0.7vh 1.4vh #00ffee;
}

.title-text > h1 > span {
    font-size: 6vh;
    text-shadow: 0.7vh 0.7vh 1.4vh blue;
}

.title-text > p {
    font-size: 2.6vh;
    color: white;
    text-shadow: 0.7vh 0.7vh 1.4vh #ff00e6;
}